<p>
  <mat-toolbar class="d-flex justify-content-between">
    <span>Python</span>
    <span class="login" [routerLink]="['/login']">
      <i class="bi bi-box-arrow-in-right"></i>
    </span>
  </mat-toolbar>
</p>


<div class="container-fluid">
  <div class="row">
    <aside class="col-md-4 col-lg-3 d-md-block sidebar">
      <div class="accordion" id="accordionFlushExample">
        <div class="accordion-item" *ngFor="let item of parentData; let i = index">
          <small>Занятие {{ i + 1 }}</small>
          <button (click)="onClickAccordion(item.id);" class="accordion-button"
                  [ngClass]="{'collapsed' :!ifRouteHasTopic(i) }" type="button" data-bs-toggle="collapse"
                  [attr.data-bs-target]="'#collapse' + i" aria-expanded="true">

            {{ item.name }}
          </button>


          <div [id]="'collapse' + i" class="accordion-collapse collapse" [ngClass]="{'show': ifRouteHasTopic(i)}"
               data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <!-- Your content here -->
              <div *ngIf="!childData" class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <!-- Example subtopics -->

              <div *ngIf="childData" class="nav w-100 nav-pills" id="v-pills-tab" role="tablist"
                   aria-orientation="vertical">
                <button (click)="onClickChild(children, i)" *ngFor="let children of childData; let j = index"
                        class="nav-link" [id]="'v-pills' + j" data-bs-toggle="pill"
                        [ngClass]="{'active': isRouteHasSubtopic(j, children)}" data-bs-target="#v-pills-home"
                        type="button"
                        role="tab" aria-controls="v-pills-home" aria-selected="true">
                  <div class="with-icon">
                    <mat-icon color="primary" class="svg-icon" [svgIcon]="children.iconType"></mat-icon>
                    &nbsp;&nbsp;{{ children.name }}
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </aside>

    <!-- Main content area -->
    <main role="main" class="col-md-8 ml-sm-auto col-lg-9 px-md-4" *ngIf="selectedSubTopic">
      <!-- Your main content goes here -->
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" [id]="'v-pills' + selectedSubTopic?.id" role="tabpanel">
          <h1 class="body-title"><span>Занятие {{ routeTopicIndex + 1 }}
            .</span> {{ selectedSubTopic?.name }}</h1>
          <hr>

          <ng-container *ngFor="let content of contents">
            <ng-container>
              <div class="row">
                <div class="col-md-12">
                  <div *ngIf="content.type == 'text'" class="mb-4">
                    <!--                    {{ content.body }}-->
                    <div [innerHTML]="returnDescription(content.body)"></div>
                  </div>
                  <div *ngIf="content.type == 'task'" class="mb-4">
                    <app-brython-editor [content]="content">
                    </app-brython-editor>
                  </div>

                  <div *ngIf="content.type == 'image'" class="mb-4">
                    <img [src]="imageUrlPrefix +'/'+ content.body" class="uploaded-image" alt="image"/>
                  </div>

                  <div *ngIf="content.type == 'video'" class="mb-4">
                    <app-video-player [videoId]="returnVideoId(content.body)"></app-video-player>
                  </div>

                </div>
              </div>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="contents.length == 0">
            <h2>Контент отсутствует</h2>
          </ng-container>
        </div>
      </div>
    </main>
  </div>
</div>
