<p>
	<mat-toolbar class="d-flex justify-content-between">
		<span>Python</span>
		<span>
			<button [routerLink]="['/login']" mat-icon-button class="example-icon favorite-icon"
				aria-label="Example icon-button with heart icon">
				<mat-icon>login</mat-icon>
			</button>
		</span>
	</mat-toolbar>
</p>


<div class="container-fluid">
  <div class="row">
    <aside class="col-md-4 col-lg-3 d-md-block sidebar">



      <div class="accordion" id="accordionFlushExample">
        <div class="accordion-item" *ngFor="let item of parentData; let i = index">
          <small class="p-0">Занятие {{ i + 1 }}</small>
          <button (click)="onClickAccordion(item.id, i);" class="accordion-button" [ngClass]="{'collapsed' :!ifRouteHasTopic(i) }" type="button"
                  data-bs-toggle="collapse"
                  [attr.data-bs-target]="'#collapse' + i"
                  aria-expanded="true">
            {{ item.name }}
          </button>


          <div [id]="'collapse' + i" class="accordion-collapse collapse"
               [ngClass]="{'show': ifRouteHasTopic(i)}" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <!-- Your content here -->
              <div *ngIf="!childData" class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <!-- Example subtopics -->
              <div *ngIf="childData" class="nav w-100 nav-pills" id="v-pills-tab" role="tablist"
                   aria-orientation="vertical">
                <button (click)="onClickChild(children, i)"
                        *ngFor="let children of childData; let j = index"
                        class="nav-link" [id]="'v-pills' + j" data-bs-toggle="pill" [ngClass]="{'active': isRouteHasSubtopic(j, children)}"
                        data-bs-target="#v-pills-home"
                        type="button"
                        role="tab" aria-controls="v-pills-home" aria-selected="true">{{ children.name }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </aside>

    <!-- Main content area -->
    <main role="main" class="col-md-8 ml-sm-auto col-lg-9 px-md-4" *ngIf="selectedSubTopic">
      <!-- Your main content goes here -->

      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" [id]="'v-pills' + selectedSubTopic?.id" role="tabpanel">
          <h1 class="body-title"><span>Занятие {{ routeTopicIndex + 1 }}
            .</span> {{ selectedSubTopic?.name }}</h1>
          <hr>
          <span>
						Python 3 — это современный язык, на котором просто и приятно писать программы.
						Для печати значений в Питоне есть функция print(). Внутри круглых скобок через запятую мы пишем то, что
						хотим вывести. Вот программа, которая делает несколько вычислений:
					</span>
        </div>
      </div>
    </main>
  </div>
</div>
