@import "../../../../vars.scss";
$opacityAnimate: 0.5s;

.solid {
    background-color:$solidBgColorImportant;
    color: $solidColor;
    .id, .name, .atomic_mass {color: white;}
}

.liquid {
    background-color:$liquidBgColorImportant;
    color: $liquidColor;
    .id, .name, .atomic_mass {color: white;}
}
.gas {
    background-color: $gasBgColorImportant;
    color: $gasColor;
    .id, .name, .atomic_mass {color: white;}
}
.unknown {
    background-color: $unknownBgColorImportant;
    color: $unknownColor;
    .id, .name, .atomic_mass {color: white;}
}

.alkali_metal {
    background-color: $alkaliMetalBgColor;
    border: $elementBorder $alkaliMetalBorderBgColor;
    border-radius: $elementBorderRadius;
}

.alkaline_earth_metal {
    background-color: $alkalineEarthMetalBgColor;
    border: $elementBorder $alkalineEarthMetalBorderBgColor;
    border-radius: $elementBorderRadius;
}
.lanthanide {
    background-color: $lanthanideEarthMetalBgColor;
    border: $elementBorder $lanthanideEarthMetalBorderBgColor;
    border-radius: $elementBorderRadius;
}
.actinide {
    background-color: $actinideEarthMetalBgColor;
    border: $elementBorder $actinideEarthMetalBorderBgColor;
    border-radius: $elementBorderRadius;
}

.transition_metal {
    background-color: $transitionMetalEarthMetalBgColor;
    border: $elementBorder $transitionMetalEarthMetalBorderBgColor !important;
    border-radius: $elementBorderRadius;
}
.post-transition_metal {
    background-color: $postTansitionMtalBgColor;
    border: $elementBorder $postTansitionMtalBorderBgColor !important;
    border-radius: $elementBorderRadius;
}
.metalloid {
    background-color: $metalloidBgColor;
    border: $elementBorder $metalloidBorderBgColor;
    border-radius: $elementBorderRadius;

}
.non-metal {
    background-color: $nonMetalBgColor;
    border: $elementBorder $nonMetalBorderBgColor;
    border-radius: $elementBorderRadius;
}

.reactive_non-metal {
    background-color: $reactiveNonMetalBgColor;
    border: $elementBorder $reactiveNonMetalBorderBgColor;
    border-radius: $elementBorderRadius;
}

.noble_gas {
    background-color: $nobleGasBgColor;
    border: $elementBorder $nobleGasBorderBgColor;
    border-radius: $elementBorderRadius;
}


.melted {
    animation: melted-opacity $opacityAnimate;
    color: $liquidBgColor;
}
.boiled {
    animation: boiled-opacity $opacityAnimate;
    color: $gasBgColor;
}
.solidated {
    animation: solidated-opacity $opacityAnimate;
    color: $solidBgColor;
}
.unknown-phase {
    color: $unknownBgColor;
    border: 1.5px solid #ddd;
    border-radius: 5px;
}

@keyframes melted-opacity {
    from {
        background-color: #99f;
        color: #ddd;
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}

@keyframes boiled-opacity {
    from {
        background-color: #f44;
        color: #ddd;
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}
@keyframes solidated-opacity {
    from {
        background-color: #ddd;
        color: rgb(6, 6, 6);
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}

.id, .name, .atomic_mass {color: black;}
.symbol-name {font-weight: bold;}

