@import "../../../../styles.scss";
$opacityAnimate: 0.5s;

.solid {
    background-color:$solidBgColorImportant;
    color: $solidColor;
    .id, .name, .atomic_mass {color: white;}
}

.liquid {
    background-color:$liquidBgColorImportant;
    color: $liquidColor;
    .id, .name, .atomic_mass {color: white;}
}
.gas {
    background-color: $gasBgColorImportant;
    color: $gasColor;
    .id, .name, .atomic_mass {color: white;}
}
.unknown {
    background-color: $unknownBgColorImportant;
    color: $unknownColor;
    .id, .name, .atomic_mass {color: white;}
}

.alkali_metal {
    background-color: $alkaliMetalBgColor;
    // border: 3px solid $alkaliMetalBgColor;
}

.alkaline_earth_metal {
    background-color: $alkalineEarthMetalBgColor;
}
.lanthanide {
    background-color: $lanthanideEarthMetalBgColor;
}
.actinide {
    background-color: $actinideEarthMetalBgColor;
}

.transition_metal {
    background-color: $transitionMetalEarthMetalBgColor;
}
.post-transition_metal {
    background-color: $postTansitionMtalBgColor;
}
.metalloid {
    background-color: $metalloidBgColor;
}
.non-metal {
    background-color: $nonMetalBgColor;
}

.reactive_non-metal {
    background-color: $reactiveNonMetalBgColor;
}

.noble_gas {
    background-color: $nobleGasBgColor;
}

.melted {
    animation: melted-opacity $opacityAnimate;
    color: $liquidBgColor;
}
.boiled {
    animation: boiled-opacity $opacityAnimate;
    color: $gasBgColor;
}
.solidated {
    animation: solidated-opacity $opacityAnimate;
    color: $solidBgColor;
}
.unknown-phase {
    color: $unknownBgColor;
}

@keyframes melted-opacity {
    from {
        background-color: #99f;
        color: #ddd;
        opacity: 1;
    }
    to {
        opacity: 0.4;
    }
}

@keyframes boiled-opacity {
    from {
        background-color: #f44;
        color: #ddd;
        opacity: 1;
    }
    to {
        opacity: 0.4;
    }
}
@keyframes solidated-opacity {
    from {
        background-color: #ddd;
        color: rgb(6, 6, 6);
        opacity: 1;
    }
    to {
        opacity: 0.4;
    }
}

.id, .name, .atomic_mass {color: black;}
.symbol-name {font-weight: bold;}