<div class="modal-content">
  <h2 mat-dialog-title>{{ data && data.content ? 'Изменить' : 'Добавить' }} контент</h2>
  <mat-dialog-content class="mat-typography">
    <div class="row mb-4">
      <div class="col-lg-12">

        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
          <mat-tab label="Описание">
            <div class="mb-3 mt-3">
              <button class="btn btn-sm btn-secondary mb-2" (click)="clearEditor()">Очистить</button>
              <ckeditor [(ngModel)]="model.editorData" [editor]="Editor"></ckeditor>

            </div>
          </mat-tab>
          <mat-tab label="Картинка">
            <div class="mb-3 mt-3">
              <label for="imageFile" class="form-label">Файл</label>
              <ng-container *ngIf="imgUrl">
                <img [src]="imgUrl" class="uploaded-image" alt="imgUrl"/>
              </ng-container>
              <input (change)="onFileChange($event)" class="form-control" type="file" id="imageFile">

            </div>
          </mat-tab>
          <mat-tab label="Видео">
            <div class="mb-3">
              <label for="videoFile" class="form-label">Ссылка на видео</label>
              <input [(ngModel)]="videoUrl" class="form-control" type="text" id="videoFile">
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions align="end" class="actions">
    <button class="btn btn-outline-danger" mat-dialog-close>Отмена</button>
    <button class="btn btn-primary" (click)="onSaveContent()" [disabled]="disabled">Сохранить</button>
  </mat-dialog-actions>
</div>
