<div class="modal-content">
  <!-- <h2 mat-dialog-title> -->
    
  <!-- </h2> -->
  <mat-dialog-content *ngIf="content" class="mat-typography">
    <h4>{{ data.content?.id ? 'Редактировать задачу' : 'Добавить задачу' }}</h4>
    <ng-container *ngIf="content">
      <app-brython-editor [content]="content" [isEditor]="true"></app-brython-editor>
    </ng-container>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="warn">Отмена</button>
    <button mat-button (click)="saveCode()" color="primary">Сохранить</button>
    <button mat-button (click)="saveCodeAndExit()" color="primary">Сохранить и закрыть</button>
  </mat-dialog-actions>
</div>
