$grid-border:  2px solid #DDD;
$grid-border-radius: 10px;

.element-info {
    margin-top: 50px;
    width: 750px;
    height: 200px;
    color:#DDD;
}

.element-info-grid {
    display: grid;
    grid-template-areas:
        "symbol-properties atomic-properties how-taken"
        "physical-properties chemical-properties chemical-properties"
        "how-spread how-used how-used";
    gap: 5px;
    color: #ddd;
}

.element-info-grid > div {
    /* background-color: rgb(18, 18, 66); */
    border: $grid-border;
    border-radius: $grid-border-radius;
    line-height: 15px;
    padding: 10px;
}

.symbol  {
    font-size: 80px;
    line-height: 80px;
    color:#1ba47f;
}

.symbol-properties {
    grid-area: symbol-properties;
	/* height: 100px; */
    /* width: 70px; */
}

.atomic-properties {
    grid-area: atomic-properties;
}
.physical-properties {
	grid-area: physical-properties;
}
.chemical-properties {
    grid-area: chemical-properties;	
}
.how-taken {
    grid-area: how-taken;	
}
.how-spread {
    grid-area: how-spread;	
}
.how-used {
	grid-area: how-used;
}

.bold {
    font-weight: bold;
}

.physical-properties {
    display: grid;
    grid-template-areas: 
    "phys-title phys-title phys-title"

    "state-temperature phys-image-1 phys-image-info-1"
    "phys-image-2 phys-image-info-2 phys-description";

    /* "phys-image-1 state phys-image-2"
    "phys-image-info-1 melt phys-image-info-2"
    "phys-image-info-1 boil phys-description"; */
    gap: 5px;
}
.physical-properties div {
    // border: $grid-border;
    // border-radius: $grid-border-radius;
}
.phys-image-1 {
    grid-area: phys-image-1;
}
div > img{
    height: 60px;
}
.phys-image-info-1 {
    grid-area: phys-image-info-1;
}
.state-temperature {
    grid-area: state-temperature;
}
.phys-image-2 {
    grid-area: phys-image-2;
}
.phys-image-info-1 {
    grid-area: phys-image-info-1;
}
.phys-description {
    grid-area: phys-description;
}
.phys-title {
    grid-area: phys-title;
}

.title {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
}

.how-spread-container {
    display: grid;
    grid-template-columns: auto auto; 
}

mat-icon{
    font-size: 50px !important;
    height: 70px;
    width: 70px;
    text-align: center;
}
.svg-icon {
    color:#1ba47f;

    font-size: 70px;
}
.how-used {
    display: grid;
    grid-template-columns: auto auto auto;
}