$grid-border:  2px solid #DDD;
$grid-border-radius: 10px;


.element-info {
    display: grid;
    grid-template-columns: 87% 13%;
}

.element-info .info {
    margin: 5px 5px 0px 0px;
}

.info-title {
    grid-column: 1/3;
    height: 40px;

    font-size: 14px;
    font-style: normal;
    font-weight: 700;

    line-height: 40px;
    text-align: center;
}

.physical-properties {
	grid-area: physical-properties;
}
.chemical-properties {
    grid-area: chemical-properties;	
}
.how-taken {
    grid-area: how-taken;	
    column-span: 2;
}
.how-spread {
    grid-area: how-spread;	
}
.how-used {
	grid-area: how-used;
}

.bold {
    font-weight: bold;
}

.physical-properties {
    // display: grid;
    // gap: 5px;
}



div > img{
    height: 60px;
}

.state-temperature {
    grid-area: state-temperature;
}

.title {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
}

mat-icon{
    font-size: 50px !important;
    height: 70px;
    width: 70px;
    text-align: center;
}
.svg-icon {
    color:#1ba47f;

    font-size: 70px;
}
.how-used {
    display: grid;
    grid-template-columns: auto auto auto;
}

.popup-panel {
    display: grid;
    grid-template-columns: 20% 80%;
}

.popup-element-body {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 33%);
    height: 122px;
    // border-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.popup-element-symbol {
    grid-column: 1/4;
    grid-row: 2;
    font-size:30px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
}

.popup-panel-50-50 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.popup-panel-40-60 {
    display: grid;
    grid-template-columns: 40% 60%;
}
.popup-panel-60-40 {
    display: grid;
    grid-template-columns: 60% 40%;
}
.popup-panel-80-20 {
    display: grid;
    grid-template-columns: 80% 20%;
}
.popup-panel-45-15-40 {
    display: grid;
    grid-template-columns: 45% 15% 40%;
}

.element-name-mass {
    grid-column: 1/4;
    grid-row: 3;
    text-align: center;
    margin-top: 4px;
}

.element-name-mass > .ename {
    font-weight: bold;
}
.element-name-mass > .emass {
    font-size: 10px;
}

.mobile-ename {
    font-size:8px;
}
