$grid-border:  2px solid #DDD;
$grid-border-radius: 10px;


.element-info {
    margin-top: 50px;
    height: 200px;
}

.element-info-grid {
    display: grid;
    grid-template-areas:
        "symbol-properties atomic-properties how-taken"
        "physical-properties chemical-properties chemical-properties"
        "how-spread how-used how-used";
    gap: 5px;
}

.element-info-grid > div {
    /* background-color: rgb(18, 18, 66); */
    border: $grid-border;
    border-radius: $grid-border-radius;
    line-height: 25px;
    padding: 10px;
}

.symbol  {
    font-size: 80px;
    line-height: 80px;
    color:#1ba47f;
}

.symbol-properties {
    grid-area: symbol-properties;
    column-span: 1;
}

.atomic-properties {
    grid-area: atomic-properties;
    column-span: 1;
}
.physical-properties {
	grid-area: physical-properties;
}
.chemical-properties {
    grid-area: chemical-properties;	
}
.how-taken {
    grid-area: how-taken;	
    column-span: 2;
}
.how-spread {
    grid-area: how-spread;	
}
.how-used {
	grid-area: how-used;
}

.bold {
    font-weight: bold;
}

.physical-properties {
    // display: grid;
    // gap: 5px;
}



div > img{
    height: 60px;
}

.state-temperature {
    grid-area: state-temperature;
}

.title {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
}

mat-icon{
    font-size: 50px !important;
    height: 70px;
    width: 70px;
    text-align: center;
}
.svg-icon {
    color:#1ba47f;

    font-size: 70px;
}
.how-used {
    display: grid;
    grid-template-columns: auto auto auto;
}

.popup-panel {
    display: grid;
    grid-template-columns: 20% 80%;
}