<!--<div class="row">-->
<!--  <div class="col-lg-12">-->
<!--    <div *ngIf="content">-->
<!--      <button (click)="runCode(id)" id="run-code" style="margin-right:5px">запустить</button>-->

<!--      <ng-container *ngIf="!isEditor">-->
<!--        &lt;!&ndash; <strong>not editor</strong> &ndash;&gt;-->
<!--        <div class="editor-panel">-->
<!--          <textarea name="description" style="display: none;"-->
<!--            id="hidden-textarea{{id}}">{{content.body}}</textarea>-->
<!--          <div id="editor{{id}}" class="ace-editor"></div>-->
<!--          <div id="error{{id}}" class="editor-error"></div>-->
<!--        </div>-->
<!--        <div class="input-output">-->
<!--          <textarea class="python-input" value="{{content.input}}" id="input{{id}}"-->
<!--            placeholder="входные данные...." rows="6" cols="39"></textarea>-->
<!--          <textarea [readOnly]="true" class="python-output" id="output{{id}}" placeholder="выходные данные...." rows="6"-->
<!--            cols="40"></textarea>-->
<!--        </div>-->
<!--      </ng-container>-->

<!--      <ng-container *ngIf="isEditor">-->
<!--        &lt;!&ndash; <strong>Editor</strong> &ndash;&gt;-->
<!--        <div class="editor-panel">-->
<!--          <textarea [(ngModel)]="editorContent.body" name="description" style="display: none;"-->
<!--            id="hidden-textarea{{id}}"></textarea>-->
<!--          <div id="editor{{id}}" class="ace-editor"></div>-->
<!--          <div id="error{{id}}" class="editor-error"></div>-->
<!--        </div>-->
<!--        <div class="input-output">-->
<!--          <textarea class="python-input" [(ngModel)]="editorContent.input" id="input{{id}}"-->
<!--            placeholder="входные данные...." rows="6" cols="39"></textarea>-->
<!--          <textarea [readOnly]="true" class="python-output" id="output{{id}}" placeholder="выходные данные...." rows="6"-->
<!--            cols="40"></textarea>-->
<!--        </div>-->
<!--      </ng-container>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="card mb-2" *ngIf="content" [ngClass]="{'mt-2': !isEditor}">
  <div class="card-header d-flex justify-content-between align-items-center">
    <span>
      Example1.py
    </span>

    <div class="header-actions">
      <span>
        <button (click)="runCode(id)" id="run-code" style="margin-right:5px">Запустить</button>
      </span>
      <span><i class="bi bi-three-dots-vertical"></i></span>
      <span><i class="bi bi-fullscreen"></i></span>
    </div>

  </div>
  <div class="card-body">
    <div class="row">
      <!-- Code section -->
      <div class="col-md-9 col" style="height: 400px">
        <div class="row h-100">
          <div class="col-md-12 bg-white text-white">
            <div class="editor-panel" *ngIf="!isEditor">
                      <textarea name="description" style="display: none;"
                                id="hidden-textarea{{id}}">{{ content.body }}</textarea>

              <div id="editor{{id}}" class="ace-editor"></div>
              <div id="error{{id}}" class="editor-error"></div>
            </div>

            <div class="editor-panel" *ngIf="isEditor">
                      <textarea [(ngModel)]="editorContent.body" name="description" style="display: none;"
                                id="hidden-textarea{{id}}"></textarea>
              <div id="editor{{id}}" class="ace-editor"></div>
              <div id="error{{id}}" class="editor-error"></div>
            </div>
          </div>
        </div>
      </div>


      <!-- Input Output section -->
      <div class="col-md-3 col" style="height: 400px">
        <div class="row h-50" style="border-bottom: 6px solid #00000008;">
          <div class="col-md-12 bg-white text-white">
            <div class="input-output" *ngIf="!isEditor">
                      <textarea class="python-input" value="{{content.input}}" id="input{{id}}"
                                placeholder="входные данные...." rows="6" cols="39"></textarea>

            </div>

            <div class="input-output" *ngIf="isEditor">
                      <textarea class="python-input" [(ngModel)]="editorContent.input" id="input{{id}}"
                                placeholder="входные данные...." rows="6" cols="39"></textarea>

            </div>
          </div>
        </div>
        <div class="row h-50">
          <div class="col-md-12 bg-white text-white">
            <textarea [readOnly]="true" class="python-output" id="output{{id}}"
                      placeholder="Нажмите на кнопку ЗАПУСТИТЬ, чтобы увидеть результат"
                      rows="6"
                      cols="40"></textarea>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
