
.editor-panel div.items {
  float: left;
}

.ace-editor {
  height: 325px;
  //margin-left: 2px;
  //background-color: #f2f7fc;
  //box-shadow: 0 0 0 1px #6999ff;
  border: 1px solid transparent;
  //border-radius: 5px;
  -webkit-border-radius: 5px;
  line-height: 24px;
  margin-right: 10px;
  color: #0000FF;
}

.editor-error {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 0 0 5px;
  height: 33px;
  color: red;
  font-weight: bold;
  background-color: #f2f7fc;
  border: 1px solid #6999ff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  line-height: 31px;
}

.editor-panel {
  width: 100%;
  //height: 245px;
  height: 100%;
  // height: 95px;
  //padding-top: 10px;
}

.input-output {
  margin: 15px 0 10px 0;
}

.python-input {
  width: 100%;
  //width: 210px;
  margin: 0 8px 0 0;
  padding: 0 0 0 5px;
  //background-color: #f2f7fc;
  //border: 1px solid #6999ff;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  line-height: 18px;
  height: 150px;
}

.python-output {
  //width: 210px;
  //padding: 0 0 0 5px;
  //background-color: #f2f7fc;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  line-height: 18px;

  width: 100%;
  height: 170px;
  margin: 10px 0;
}

#run-code {
  height: 35px !important;
  //width: 200px !important;
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  font-size: 16px;
  //background-color: #6999ff;
  background-color: #0E6B9C;
  color: #fff;
}

.card-body {
  background: #00000008;
  padding: 0 15px;

  .col {
    padding: 15px;
  }
}

#edit-code {
  height: 35px !important;
  width: 200px !important;
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  font-size: 18px;
  background-color: #d3d7e0;
  color: #1d3e7d;
}

#run-code:hover {
  height: 35px !important;
  //width: 200px !important;
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  font-size: 16px;
  background-color: #1d3e7d;
  color: #fff;
}

#edit-code:hover {
  height: 35px !important;
  width: 200px !important;
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  font-size: 18px;
  background-color: #8a8d94;
  color: #000;
}

#run-code:active {
  height: 35px !important;
  width: 200px !important;
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  font-size: 18px;
  background-color: #6999ff;
  color: #1d3e7d;
}

.header-actions span {
  margin-left: 1em;
}


