<textarea id="{{'hidden-textarea'  +id}}" style="display: none;" name="description">{{ content.body }}</textarea>


<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="end" [ngClass]="{'on-full-screen': isFullScreen}">



  <mat-tab label="Редактор">
    <div class="card" *ngIf="content" [ngClass]="{'mt-2': !isEditor, 'full-screen': isFullScreen}">
      <div class="card-header d-flex justify-content-between align-items-center">
        <span>
          Задача
        </span>

        <div id="error{{id}}" class="editor-error"></div>

        <div class="header-actions">
          <span>
            <button (click)="runCode(id)" class="run-code" id="run-code" style="margin-right:5px">Запустить</button>
          </span>
          <span>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>download</mat-icon>
                <span>Выгузĸа в файл python.py</span>
              </button>
              <button mat-menu-item>
                <mat-icon>clear_all</mat-icon>
                <span>Очистить редактор</span>
              </button>
            </mat-menu>
          </span>
          <span>
            <button mat-icon-button (click)="toggleFullScreen()">
              <mat-icon>aspect_ratio</mat-icon>
            </button>
          </span>
        </div>

      </div>
      <div class="editor gx-0">
        <div class="row gx-0">
          <!-- Code section -->
          <div class="col-md-9 gx-0" [ngStyle]="{'height':editorHeightPx}">
            <div class="row gx-0 h-100">
              <div class="col-md-12 gx-0">
                <div class="editor-panel">

                  <div id="editor{{id}}" class="ace-editor"></div>
                </div>
              </div>
            </div>
          </div>


          <!-- Input Output section -->
          <div class="col-md-3 io-panel gx-0" [ngStyle]="{'height':editorHeightPx}">
            <div class="row h-50 gx-0">
              <div class="col-md-12 gx-0 h-100">
                <div class="input-output h-100">
                  <textarea class="python-input" [(ngModel)]="content.input" id="input{{id}}"
                    placeholder="входные данные...."></textarea>
                </div>
              </div>
            </div>
            <div class="row h-50 pt-6px">
              <div class="col-md-12 h-100">
                <textarea [readOnly]="true" class="python-output" id="output{{id}}"
                  placeholder="Нажмите на кнопку запустить, чтобы увидеть результат"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  
  <ng-container *ngIf="content.id > 0">
    <mat-tab label="Тесты">
      <div id="error{{id}}" class="editor-error"></div>

      <div class="row">
        <div class="col-md-2">
          <span class="float-right">Результат</span>
        </div>
        <div class="col-md-4">
          <span>Входные данные</span>
        </div>
        <div class="col-md-4">
          <span>Правильный ответ</span>
        </div>
        <div class="col-md-2">
        </div>
      </div>

      <ng-container *ngFor="let item of contentTests">
        <hr>
        <ng-container *ngIf="item && item.id">
          <div class="row" *ngIf="!item.isRemoved">
            <div class="col-md-1">
              <ng-container *ngIf="isEditor">
                <button mat-icon-button color="warn" (click)="removeContentTest(item)">
                  <mat-icon>delete</mat-icon>
                </button>
              </ng-container>
            </div>
            <div class="col-md-1">
              <div class="text-success" id="test-result-success{{ prepareId(item.id) }}"></div>
              <div class="text-danger" id="test-result-danger{{ prepareId(item.id) }}"></div>
            </div>
            <div class="col-md-4">
              <div class="input-output">
                <textarea id="input-test{{ prepareId(item.id) }}" [disabled]="true">{{item.input}}</textarea>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-output">
                <textarea id="output-test{{ prepareId(item.id) }}" [disabled]="true">{{item.output}}</textarea>
              </div>
            </div>
            <div class="col-md-2">
              <ng-container *ngIf="item.id">
                <button class="run-code" (click)="runTestCode(prepareId(item.id))"
                  id="run-test-code">Запустить</button>
              </ng-container>
            </div>
          </div>

        </ng-container>
      </ng-container>



      <hr>
      <div class="row" *ngIf="isEditor">
        <div class="col-md-2">
          <h1 id="test-result"></h1>
        </div>
        <div class="col-md-4">
          <div class="input-output">
            <textarea [(ngModel)]="contentTestInput" id="input-test{{id}}" placeholder="Входные данные..."
              [disabled]="!isEditor"></textarea>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-output">
            <textarea [(ngModel)]="contentTestOutput" id="output-test{{id}}" placeholder="Правильный ответ..."
              [disabled]="!isEditor"></textarea>
          </div>
        </div>
        <div class="col-md-2">
          <button class="btn btn-sm btn-success" (click)="saveContentTest()" id="save-test-code">Cохранить тест</button>
        </div>
      </div>

    </mat-tab>
  </ng-container>

</mat-tab-group>