<div class="chemical-table">

  <div class="header-elements">
    <div class="lefttop">
      <app-element [xaxis]="lefttop_xaxis" [yaxis]="lefttop_yaxis" [elements]="leftTopArray"></app-element>
    </div>

    <div class="state-table">
      <div class="state-row" [ngClass]="{'st-c': stateC, 'st-hg': stateHg}" (mouseover)="updateState('C')"
        (mouseout)="removeState()">
        <div class="symbol">C</div>
        <div class="name">Твердое тело</div>
      </div>

      <div class="state-row" [ngClass]="{'st-c': stateC, 'st-hg': stateHg}" (mouseover)="updateState('Hg')"
        (mouseout)="removeState()">
        <div class="symbol">Hg</div>
        <div class="name">Жидкость </div>
      </div>
      <div class="state-row" (mouseover)="updateState('H')" (mouseout)="removeState()">
        <div class="symbol">H</div>
        <div class="name">Газ </div>
      </div>

      <div class="state-row" (mouseover)="updateState('Rf')" (mouseout)="removeState()">
        <div class="symbol">Rf</div>
        <div class="name">Незвестный </div>
      </div>
    </div>

    <div (mouseout)="removeType()">

      <div class="types types-grid">
        <div class="metal" (mouseover)="highlightType('metal')">Металлы</div>

        <div class="alkali_metal vertical-text" (mouseover)="highlightType('alkali metal')">
          Щелочные <br>металлы</div>
        <div class="alkaline_earth_metal vertical-text" (mouseover)="highlightType('alkaline earth metal')">Щёлочноземельные<br> металлы</div>
        <div class="lanthanide" (mouseover)="highlightType('lanthanide')">Лантаноиды</div>
        <div class="actinide" (mouseover)="highlightType('actinide')">Актиноиды</div>
        <div class="transition_metal vertical-text" (mouseover)="highlightType('transition metal')">Переходные<br>
          металлы</div>
        <div class="post_transition_metal vertical-text" (mouseover)="highlightType('post-transition metal')">
          Постпереходные<br> металлы</div>

        <div class="metalloid vertical-text"  (mouseover)="highlightType('metalloid')">Полуметаллы</div>
        <div class="non_metal" (mouseover)="highlightType('none')">Неметаллы</div>

        <div class="reactive_non_metal vertical-text" (mouseover)="highlightType('reactive non-metal')">Реактивные
          <br>неметаллы</div>
        <div class="noble_gas vertical-text" (mouseover)="highlightType('noble gas')">Благородные <br>газы</div>
      </div>
    </div>
      <!-- 
      <table class="types-table">
        <tr>
          <td colspan="5" (mouseover)="highlightType('metals')"  (mouseout)="removeType()">
            <div>Металлы</div>
          </td>
          <td rowspan="3" (mouseover)="highlightType('metalloid')"  (mouseout)="removeType()" ><span class="vertical-text">Полуметаллы</span></td>
          <td colspan="2" (mouseover)="highlightType('non-metal')"  (mouseout)="removeType()">Неметаллы0</td>
        </tr>
        <tr>
          <td rowspan="2">
            <div class="type-item-class" (mouseover)="highlightType('alkali metal')"  (mouseout)="removeType()" >
              <span class="vertical-text">Щелочные <br>металлы</span>
            </div>
          </td>
          <td rowspan="2" (mouseover)="highlightType('alkaline earth metal')"  (mouseout)="removeType()" ><span class="vertical-text">Щёлочноземельные<br> металлы</span></td>
          <td (mouseover)="highlightType('lanthanide')"  (mouseout)="removeType()"><span>Лантаноиды</span></td>
          <td rowspan="2" (mouseover)="highlightType('transition metal')"  (mouseout)="removeType()"><span class="vertical-text">Переходные<br> металлы</span></td>
          <td rowspan="2" (mouseover)="highlightType('post-transition metal')"  (mouseout)="removeType()" ><span class="vertical-text">Постпереходные<br> металлы</span></td>
          <td rowspan="2" (mouseover)="highlightType('reactive non-metal')"  (mouseout)="removeType()" ><span class="vertical-text">Реактивные неметаллы</span></td>
          <td rowspan="2" (mouseover)="highlightType('noble gas')"  (mouseout)="removeType()" ><span class="vertical-text">Благородные <br>газы</span></td>
        </tr>
        <tr>
          <td (mouseover)="highlightType('actinide')"  (mouseout)="removeType()"><span>Актиноиды</span></td>
        </tr>

      </table> -->
    <!-- </div> -->

    <div class="righttop">
      <app-element [hasEmptyCell]="true" [xaxis]="righttop_xaxis" [yaxis]="righttop_yaxis" [elements]="rightTopArray">
      </app-element>
    </div>
  </div>

  <div style="clear: both;"></div>

  <div class="body-elements">
    <app-element [xaxis]="body_xaxis" [yaxis]="body_yaxis" [elements]="bodyArray"></app-element>
  </div>

  <div class="footer-elements">
    <div class="footer-head">
      <div class="dummy-cell cell"></div>
      <div class="footer-text">For elements with no stable isotopes, the mass number of the isotope with the longest
        half-life is in parentheses.</div>
    </div>

    <div class="footer-elements-body">
      <app-element [xaxis]="footer_xaxis" [yaxis]="footer_yaxis" [elements]="footerArray"></app-element>
    </div>
  </div>

</div>