<div class="chemical-table">
  Температура: [-]
  <mat-slider class="example-margin" [max]="max" [min]="min" [step]="7">
    <input matSliderThumb [(ngModel)]="temparature"  (valueChange)="temperatureUpdated(temparature)" #slider>
  </mat-slider> [+]&nbsp;
  <span>{{temparature|number:'1.0-0'  }} C</span>&nbsp;
  <span>{{temparature*9/5 + 32|number:'1.0-0'}} F</span>&nbsp;
  <span>{{temparature + 273|number:'1.0-0'}} K</span>

  <div class="header-elements">
    <div class="lefttop">
      <app-element [xaxis]="lefttop_xaxis" [yaxis]="lefttop_yaxis" [elements]="leftTopArray"></app-element>
    </div>

    <div class="state-table">
      <div class="state-row" (mouseover)="updateState('C')"
        (mouseout)="removeState()">
        <div class="solid symbol">C</div>
        <div class="name">Твердое тело</div>
      </div>

      <div class="state-row " (mouseover)="updateState('Hg')"
        (mouseout)="removeState()">
        <div class="liquid symbol">Hg</div>
        <div class="name">Жидкость </div>
      </div>
      <div class="state-row" (mouseover)="updateState('H')" (mouseout)="removeState()">
        <div class="gas symbol">H</div>
        <div class="name">Газ </div>
      </div>

      <div class="state-row" (mouseover)="updateState('Rf')" (mouseout)="removeState()">
        <div class="unknown symbol">Rf</div>
        <div class="name">Незвестный </div>
      </div>
    </div>

    <div (mouseout)="removeType()">

      <div class="types types-grid">
        <div class="metal" (mouseover)="highlightType('metal')">Металлы</div>

        <div class="alkali_metal vertical-text" (mouseover)="highlightType('alkali metal')">
          Щелочные <br>металлы</div>
        <div class="alkaline_earth_metal vertical-text" (mouseover)="highlightType('alkaline earth metal')">
          Щёлочноземельные<br> металлы</div>
        <div class="lanthanide" (mouseover)="highlightType('lanthanide')">Лантаноиды</div>
        <div class="actinide" (mouseover)="highlightType('actinide')">Актиноиды</div>
        <div class="transition_metal vertical-text" (mouseover)="highlightType('transition metal')">Переходные<br>
          металлы</div>
        <div class="post_transition_metal vertical-text" (mouseover)="highlightType('post-transition metal')">
          Постпереходные<br> металлы</div>

        <div class="metalloid vertical-text" (mouseover)="highlightType('metalloid')">Полуметаллы</div>
        <div class="non_metal" (mouseover)="highlightType('non-metal')">Неметаллы</div>

        <div class="reactive_non_metal vertical-text" (mouseover)="highlightType('reactive non-metal')">Реактивные
          <br>неметаллы
        </div>
        <div class="noble_gas vertical-text" (mouseover)="highlightType('noble gas')">Благородные <br>газы</div>
      </div>
    </div>

    <div class="righttop">
      <app-element [hasEmptyCell]="true" [xaxis]="righttop_xaxis" [yaxis]="righttop_yaxis" [elements]="rightTopArray">
      </app-element>
    </div>
  </div>

  <div style="clear: both;"></div>

  <div class="body-elements">
    <app-element [xaxis]="body_xaxis" [yaxis]="body_yaxis" [elements]="bodyArray"></app-element>
  </div>

  <div class="footer-elements">
    <div class="footer-head">
      <div class="dummy-cell cell"></div>
      <div class="footer-text">For elements with no stable isotopes, the mass number of the isotope with the longest
        half-life is in parentheses.</div>
    </div>

    <div class="footer-elements-body">
      <app-element [xaxis]="footer_xaxis" [yaxis]="footer_yaxis" [elements]="footerArray"></app-element>
    </div>
  </div>

</div>