<div class="main">

  
  <div class="chemical-table">

    <mat-card>
      

      
      <div class="config-panel" (mouseout)="removeType()">
        <div class="filter">Сүзгі &nbsp;&nbsp;<mat-icon>tune</mat-icon></div>

        <div class="type-button metal" (mouseover)="highlightType('metal')">Металдар</div>
        <div class="type-button metalloid" (mouseover)="highlightType('metalloid')">Жартылай металдар</div>
        <div class="type-button non_metal" (mouseover)="highlightType('non-metal')">Бейметалдар</div>


        <div class="type-button alkali_metal" (mouseover)="highlightType('alkali metal')">
          Сілтілік <br>металдар</div>
        <div class="type-button alkaline_earth_metal" (mouseover)="highlightType('alkaline earth metal')">
          Сілтілік<br> жер металдары</div>
        <div class="type-button lanthanide" (mouseover)="highlightType('lanthanide')">Лантанидтер</div>
        <div class="type-button actinide" (mouseover)="highlightType('actinide')">Актиноидтар</div>
        <div class="type-button transition_metal" (mouseover)="highlightType('transition metal')">Өтпелі<br>
          металдар</div>
        <div class="type-button post_transition_metal" (mouseover)="highlightType('post-transition metal')">
          Пост-Өтпелі<br> металдар</div>
        <div class="type-button reactive_non_metal" (mouseover)="highlightType('reactive non-metal')">Реактивті
          <br>бейметалдар
        </div>
        <div class="type-button noble_gas" (mouseover)="highlightType('noble gas')">Асыл <br>газдар</div>
      </div>
    </mat-card>

    <div class="table">
      <h3>Химиялық таблица</h3>
        Температура: [-]

      <div class="header-elements">
        <div class="id-row-element">
          <app-id-element [items]="rows"></app-id-element>
        </div>
          <div class="id-column-element">
          <app-id-element [items]="columns"></app-id-element>
        </div>
        <div class="lefttop">
          <app-element [xaxis]="lefttop_xaxis" [yaxis]="lefttop_yaxis" [elements]="leftTopArray"></app-element>
        </div>

       


        <div class="righttop">
          <app-element [hasEmptyCell]="true" [xaxis]="righttop_xaxis" [yaxis]="righttop_yaxis"
            [elements]="rightTopArray">
          </app-element>
        </div>
      </div>

      <!-- <div style="clear: both;"></div> -->

      <div class="body-elements">
        <app-element [xaxis]="body_xaxis" [yaxis]="body_yaxis" [elements]="bodyArray"></app-element>
      </div>

      <div class="footer-elements">
        <div class="footer-head">
          <div class="dummy-cell cell"></div>
          <!-- <div class="footer-text">For elements with no stable isotopes, the mass number of the isotope with the longest
            half-life is in parentheses.</div> -->
        </div>

        <div class="footer-elements-body">
          <app-element [xaxis]="footer_xaxis" [yaxis]="footer_yaxis" [elements]="footerArray"></app-element>
        </div>
      </div>
    </div>
<!-- 
    <div class="chemical-element">
      <app-element-info></app-element-info>
    </div>
 -->
  </div>

</div>