@import "../styles.scss";

.state-row {
    height: 20px;
    cursor: pointer;
    padding: 2px;
}

.symbol {
    text-align: center;
    border: 2px solid #ddd;
    /* height: 20px; */
    width: 20px;
    display: inline-block;
    padding: 1px;
}

.symbol:hover {
    border: 2px solid rgb(90, 200, 200);
}

.name {
    display: inline-block;
    width: 82.5px;
    padding-left: 5px;
}
.state-table {
    float: left;
}

.solid {
    background-color: $solidBgColor;
    color: $solidColor;
}

.liquid {
    background-color: $liquidBgColor;
    color: $liquidColor;
}
.gas {
    background-color: $gasBgColor;
    color: $gasColor;
}
.unknown {
    background-color: $unknownBgColor;
    color: $unknownColor;
}



.vertical-text {
    writing-mode: vertical-rl;
}

.vertical-text {
    writing-mode: vertical-rl;
}



.footer-text {
    font-size: 12px;
    /* float: left; */
}

.type-item-class {
    background-color: #ddd;
}

.item1 {
    grid-area: header;
}
.item2 {
    grid-area: menu;
}
.item3 {
    grid-area: main;
}
.item4 {
    grid-area: right;
}
.item5 {
    grid-area: footer;
}

.types {
    float: left;
    width: 287.5px;
    font-size: 10px;
    margin-right: 5px;
    margin-left: 1.5px;
}

.types-grid {
    display: grid;
    grid-template-areas:
        "metal metal metal metal metal metalloid non_metal non_metal"
        "alkali_metal alkaline_earth_metal lanthanide transition_metal post_transition_metal metalloid reactive_nonmetal noble_gas"
        "alkali_metal alkaline_earth_metal actinide transition_metal post_transition_metal metalloid reactive_nonmetal noble_gas";
    // gap: 2px;
    /* background-color: #2196f3; */
    /* padding: 5px; */
    font-size: 14px;
    // border: 0.5px solid rgb(0, 0, 0);
}

.types-grid > div {
    text-align: center;
    cursor: pointer;
    border: 2px solid #ddd;
    padding:2px;
}
.types-grid > div:hover {
    padding: 2px;
    border: 2px solid #5fa5e3;
}
.metal {
    grid-area: metal;
    background-color: $metalBgColor;
}
.metalloid {
    grid-area: metalloid;
    background-color: $metalloidBgColor;
}
.non_metal {
    grid-area: non_metal;
    background-color: $nonMetalBgColor;
}

.alkali_metal {
    grid-area: alkali_metal;
    background-color: $alkaliMetalBgColor;
}

.alkaline_earth_metal {
    grid-area: alkaline_earth_metal;
    background-color: $alkalineEarthMetalBgColor;
}
.lanthanide {
    grid-area: lanthanide;
    background-color: $lanthanideEarthMetalBgColor;
}
.actinide {
    grid-area: actinide;
    background-color: $actinideEarthMetalBgColor;
}
.transition_metal {
    grid-area: transition_metal;
    background-color:$transitionMetalEarthMetalBgColor;
}
.post_transition_metal {
    grid-area: post_transition_metal;
    background-color: $postTansitionMtalBgColor;
}
.reactive_non_metal {
    grid-area: reactive_nonmetal;
    background-color: $reactiveNonMetalBgColor;
}
.noble_gas {
    grid-area: noble_gas;
    background-color: $nobleGasBgColor;
}

mat-slider {
    width: 450px;
}

.temperature {
    border-bottom: 1px solid white;
}

.chemical-element {
    color:black;
}
