.list-group {
  margin-left: 1em;
}

.parent-btn:focus {
  box-shadow: none !important;
}

.parent-btn {
  text-decoration: none;
  color: #000;
}

aside small {
  margin-left: 2em;
  color: grey;
}

.list-group-item {
  border: none;
}

.nav-link {
  width: 100%; /* Make the buttons full width */
  text-align: left; /* Align the text to the left */
  background-color: transparent; /* Set your custom background color */
  color: #838383; /* Set text color */
  border: none; /* Remove button border if needed */
  margin-bottom: 5px; /* Add margin between buttons */
  padding: 10px; /* Add padding for better spacing */
}

.nav-link:hover {
  background-color: #2980b9; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
}

.nav-pills .nav-link.active {
  background-color: #e6f1ff; /* Change background color on hover */
  color: #0e6b9c; /* Change text color on hover */
}

.accordion {
  border: 1px solid #80808038;
  padding: 1em 0;
}

.accordion-item {
  border: none;
}

.accordion-button {
  box-shadow: none;
  margin: 0;
}
.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
}

.accordion-body {
  padding: 0 15px;
}

.body-title span {
  color: #0e6b9c;
}

.body-actions button {
  margin-right: 1em;
}

.app-ace-editor {
  border: 2px solid #f8f9fa;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

////////////////////

#editor {
  width: 685px;
  height: 350px;
  /* margin-top: 10px; */
  margin-left: 2px;
  background-color: #f2f7fc;
  box-shadow: 0 0 0 1px #6999FF;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  line-height: 24px;
  margin-right: 10px;
}

#error {
  margin: 10px 0 10px 0;
  padding: 0 0 0 5px;
  width: 683px;
  height: 33px;
  color: red;
  font-weight: bold;
  background-color: #f2f7fc;
  border:1px solid #6999FF;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  line-height: 31px;
}

.editor-panel {
  width: 100%;
  height: 395px;
  padding-top: 10px;
}

#input-output {
margin: 15px 0 10px 0;
}

#input {
margin: 0 8px 0 0;
padding: 0 0 0 5px;
background-color: #f2f7fc;
border:1px solid #6999FF;
border-radius: 5px;
-webkit-border-radius: 5px;
line-height: 24px;
}

#output {
padding: 0 0 0 5px;
background-color: #f2f7fc;
border:1px solid #6999FF;
border-radius: 5px;
-webkit-border-radius: 5px;
line-height: 24px;
}

#run-code {
height: 35px !important;
width: 200px !important;
border: none;
border-radius: 8px;
-webkit-border-radius: 8px;
font-size: 18px;
background-color: #6999FF;
color: #1d3e7d;
}

#run-code:hover {
height: 35px !important;
width: 200px !important;
border: none;
border-radius: 8px;
-webkit-border-radius: 8px;
font-size: 18px;
background-color: #1d3e7d;
color: #6999FF;
}

#run-code:active {
height: 35px !important;
width: 200px !important;
border: none;
border-radius: 8px;
-webkit-border-radius: 8px;
font-size: 18px;
background-color: #6999FF;
color: #1d3e7d;
}

#submit-code {
height: 35px !important;
width: 200px !important;
border: none;
border-radius: 8px;
-webkit-border-radius: 8px;
font-size: 18px;
border: 1px solid #1d3e7d;
background-color: #FFFFFF;
color: #1d3e7d;

}

#submit-code:hover {
height: 35px !important;
width: 200px !important;
border: none;
border-radius: 8px;
-webkit-border-radius: 8px;
font-size: 18px;
background-color: #1d3e7d;
color: #6999FF;
}

#submit-code:active {
height: 35px !important;
width: 200px !important;
border: none;
border-radius: 8px;
-webkit-border-radius: 8px;
font-size: 18px;
background-color: #6999FF;
color: #1d3e7d;
}



.editor-panel div.items{
  float:left;
}