<!-- <mat-toolbar class="d-flex justify-content-between">
  <span [routerLink]="['/admin']">Админская панель</span>
  <span>
    <button (click)="logOut()" mat-icon-button class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon">
      <mat-icon>logout</mat-icon>
    </button>
  </span>
</mat-toolbar> -->

<!-- <mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <mat-list role="list">
      <mat-list-item role="listitem"><a [routerLink]="['chemistry']">Chemistry</a></mat-list-item>
      <mat-list-item role="listitem"><a [routerLink]="['informatics']">Informatics</a></mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <router-outlet></router-outlet>
  
  </mat-sidenav-content>

</mat-sidenav-container>
 -->

<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li (click)="logOut()">
        <mat-icon>logout</mat-icon>
      </li>
    </ul>
  </nz-header>

  <nz-content class="outer-content">

    <nz-layout class="inner-layout">
      <nz-sider nzWidth="200px" nzTheme="light">
        <ul nz-menu nzMode="inline" class="sider-menu">
          <li nz-menu-item><a [routerLink]="['chemistry']">Chemistry</a></li>
          <li nz-menu-item><a [routerLink]="['informatics']">Informatics</a></li>
        </ul>
      </nz-sider>
      <nz-content class="inner-content">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-content>
</nz-layout>