<div class="element-info" *ngIf="addInfo">
    <div class="info-title" [ngStyle]="{background: borderColor}">{{addInfo.name}}</div>
    <div class="info">
        <mat-accordion multi>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="bold">Атомдық қасиеттер</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <span class="bold">Э/К</span>&nbsp;{{atomicProperties.E_K}}
                <span class="bold">A/Р</span>&nbsp;{{ atomicProperties.A_P }}
                <span class="bold">И/Р</span>&nbsp;{{ atomicProperties.I_P }}
                <span class="bold">ЭТ</span>&nbsp;{{ atomicProperties.ET }}
                <span class="bold">И/Э</span>&nbsp;{{ atomicProperties.I_E }}
                <span class="bold">Т/Д</span>&nbsp;{{ atomicProperties.T_D }}
                <span class="bold">Изотоптары</span>&nbsp;{{ atomicProperties.isotop }}
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>

                        <span class="bold">Физикалық қасиеттері</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- 7052300522 wamgun -->
                <ng-container *ngIf="physicalProperties">
                    <div class="physical-panel">

                    </div>
                    <div class="state-temperature">
                        <span class="bold">Күйi:</span>{{ physicalProperties.phase }} &nbsp;&nbsp;
                        <span class="bold">Еруі:</span>{{ physicalProperties.melt }} C
                        <span class="bold">Қайнауы:</span>{{ physicalProperties.boil }} C
                    </div>

                    <div class="phys-image-1">
                        <mat-icon *ngIf="physicalProperties.icon_1"
                            [svgIcon]="toLower(howTaken?.iconaddInfo?.physicalProperties?.icon_1)" class="svg-icon"></mat-icon>
                        {{ physicalProperties.icon_info_1 }}
                    </div>
                    <!-- <div class="phys-image-info-1"></div> -->
                    <div class="phys-image-2">
                        <mat-icon *ngIf="physicalProperties.icon_2"
                            [svgIcon]="toLower(physicalProperties.icon_2)" class="svg-icon"></mat-icon>
                        {{ physicalProperties.icon_info_2 }}
                    </div>
                    <!-- <div class="phys-image-info-2"></div> -->
                    <div class="phys-description">{{ physicalProperties.description }}</div>
                </ng-container>


            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>

                        <span class="bold">Таралуы (элемент күйінде)</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="how-spread-container" *ngIf="howSpread">
                    <div class="how-spread-item">
                        <div class="popup-panel-50-50">
                            <div>
                                <span class="bold">Ғарыш</span> {{howSpread.space}}<br>
                                <span class="bold">Күн</span> {{howSpread.sun}}<br>
                                <span class="bold">Жер қыртысы</span> {{howSpread.earth}}<br>
                            </div>
                            <div>
                                <span class="bold">Cу</span> {{howSpread.water}}<br>
                                <span class="bold">Адам денесі</span> {{howSpread.man}}<br>
                            </div>
                        </div>

                        <br>

                        <div class="how-spread-desc-speed popup-panel-60-40">
                            <div class="description" [innerHtml]="howSpread.description"></div>
                            <div>
                                <ng-container *ngIf="howSpread.description">
                                    <mat-icon svgIcon="picker" class="svg-icon"></mat-icon>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>

                        <span class="bold">Алынуы</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-container *ngIf="addInfo && howTaken">
                    <div class="description" [innerHtml]="howTaken.description">
                    </div>
                    <br>

                    <div class="popup-panel-80-20">
                        <div class="float-left formula" [innerHtml]="howTaken.formula">
                        </div>
                        <div class="float-right" *ngIf="howTaken.icon">
                            <mat-icon [svgIcon]="toLower(howTaken.icon)" class="svg-icon"></mat-icon>
                        </div>
                    </div>
                </ng-container>

            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="bold">Химиялық қасиеттері</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="popup-panel-80-20">
                    <div class="float-left">
                        <div *ngIf="chemicalProperties"
                            [innerHtml]="chemicalProperties.description">
                        </div>
                    </div>
                    <div class="float-right">
                        <div *ngIf="addInfo && chemicalProperties && chemicalProperties.icon">
                            <mat-icon [svgIcon]="toLower(chemicalProperties.icon)" class="svg-icon"></mat-icon>
                        </div>
                    </div>
                </div>

            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>

                        <span class="bold">Қолданыс орындары</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="how-used" *ngIf="addInfo && howUsed">
                    <div class="grid-item">
                        <mat-icon class="svg-icon" [svgIcon]="toLower(howUsed.icon_1)"></mat-icon>
                        <div>{{howUsed.icon_info_1}}</div>
                    </div>

                    <div class="grid-item">
                        <mat-icon class="svg-icon" [svgIcon]="toLower(howUsed.icon_2)"></mat-icon>
                        <div>{{howUsed.icon_info_2}}</div>
                    </div>

                    <div class="grid-item">
                        <mat-icon class="svg-icon" [svgIcon]="toLower(howUsed.icon_3)"></mat-icon>
                        <div>{{howUsed.icon_info_3}}</div>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

    </div>
    <div class="symbol">
        <div class="popup-element-body" [ngStyle]="{'background': color, 'border': '1.5px solid ' + borderColor }">
            <div class="element-id-value">{{number}}</div>
            <div class="popup-element-symbol">{{symbol}}</div>
            <div class="element-name-mass">
                <div class="ename" [ngClass]="{'mobile-ename':isMobile}">{{addInfo.name}}</div>
                <div class="emass">{{atomic_mass}}</div>
            </div>
        </div>
    </div>

</div>