/* You can add global styles to this file, and also import other style files */
body {
    /* background-color: #2b2929; */
    background-color: #ffffff;
}

html,
body {
    height: 100%;
    background-color: #13202b;
    line-height: 9px !important;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
