/* You can add global styles to this file, and also import other style files */

$solidBgColor: rgb(0, 0, 0);
$liquidBgColor: #00D;
$gasBgColor: #900;
$unknownBgColor: #676;

$solidBgColorImportant: rgb(0, 0, 0) !important;
$liquidBgColorImportant: #00D !important;
$gasBgColorImportant: #900    !important;
$unknownBgColorImportant: #676 !important;

$solidColor: rgb(255, 255, 255) !important;
$liquidColor: rgb(255, 255, 255) !important;
$gasColor: rgb(255, 255, 255) !important;
$unknownColor: rgb(255, 255, 255) !important;

$metalBgColor: rgb(255, 255, 255);
$metalloidBgColor: #9ee5d4;
$nonMetalBgColor: rgb(255, 255, 255);
$alkaliMetalBgColor: #eace5d;
$alkalineEarthMetalBgColor: #f1f165;
$lanthanideEarthMetalBgColor: #e8d19c;
$actinideEarthMetalBgColor: #f5ccda;
$transitionMetalEarthMetalBgColor: #fac5b7;
$postTansitionMtalBgColor: #acdfec;
$reactiveNonMetalBgColor: #8ced8c;
$nobleGasBgColor: #e5bde5;

$cellWidth: 55px;

.chemical-table {
    font-size: 14px;
    color: #000000;
    padding: 10px;

    line-height: 13px;
    font-family: Roboto, sans-serif;
    letter-spacing: 0em;
    width: 1041px;
    margin: auto;
}

.lefttop {
    width: 115px;
    float: left;
}
.righttop {
    // width: 350px;
    float: left;
    margin-left: 157px;
}

.body-elements {
    // width: 900px;
    height: 215px;
}
.header-elements {
    height: 180px;
}

.footer-elements-body{
    margin-left:129px;
}
.footer-head {
    margin-left:128px;
}
.footer-head {
    height: 32px;
}

.cell {
    height: 51px;
    width: $cellWidth;
    background-color: white;
    margin: 1px;
}

.empty-cell {
    height: 51px;
    width: $cellWidth;
    margin: 1px;
}

.column {
    float: left;
    cursor: pointer;
}

.row {
    height: 54px;
}

.cell .id {
    font-size: 9px;
}
.cell .name {
    font-size: 12px;
    letter-spacing: -0.08em;
    font-family: serif;
}

.cell .atomic_mass {
    font-size: 9px;
}

.dummy-cell {
    width: $cellWidth;
    height: 32px;
    border-left:1px solid #000;
    border-right:1px solid #000;
}
.address-cell {
    width: $cellWidth;
    height: 54px;
    // border-top:1px solid #000;
    border-left:1px solid #000;
    border-right:1px solid #000;
}

.id-row-element {
    margin-left:15px;
    height: 18px;
    text-align: center;
    color: #0d0d8c;
}
.id-column-element {
    float:left;
    color: #0d0d8c;
}
.column-cell {
    width: 15px;
    height: 54px;
}
.row-cell {
    width: 55px;
    height: 10px;
    margin: 1px;
}

