/* You can add global styles to this file, and also import other style files */

$solidBgColor: rgb(0, 0, 0);
$liquidBgColor: #00D;
$gasBgColor: #900;
$unknownBgColor: #676;

$solidBgColorImportant: rgb(0, 0, 0) !important;
$liquidBgColorImportant: #00D !important;
$gasBgColorImportant: #900    !important;
$unknownBgColorImportant: #676 !important;

$solidColor: rgb(255, 255, 255) !important;
$liquidColor: rgb(255, 255, 255) !important;
$gasColor: rgb(255, 255, 255) !important;
$unknownColor: rgb(255, 255, 255) !important;

$metalBgColor: rgb(255, 255, 255);

$nonMetalBgColor: #EDEDED;
$nonMetalBorderBgColor:#DCDADA;

$metalloidBgColor: #9ee5d4;
$metalloidBorderBgColor: #6BC6B0;

$alkaliMetalBgColor: #eace5d;
$alkaliMetalBorderBgColor:#CBB043;

$alkalineEarthMetalBgColor: #f1f165;
$alkalineEarthMetalBorderBgColor: #D9D94C;

$lanthanideEarthMetalBgColor: #e8d19c;
$lanthanideEarthMetalBorderBgColor: #CBB071;

$actinideEarthMetalBgColor: #f5ccda;
$actinideEarthMetalBorderBgColor: #EAA5BD;

$transitionMetalEarthMetalBgColor: #fac5b7;
$transitionMetalEarthMetalBorderBgColor: #E8AD9D;

$postTansitionMtalBgColor: #acdfec;
$postTansitionMtalBorderBgColor: #79BACB;

$reactiveNonMetalBgColor: #8ced8c;
$reactiveNonMetalBorderBgColor: #72D272;

$nobleGasBgColor: #e5bde5;
$nobleGasBorderBgColor: #CC96CC;

$elementBorderRadius: 5px;
$elementBorder: 1.5px solid;

$cellWidth: 47px;

.chemical-table {
    font-size: 12px;
    color: #000000;
    padding: 10px;
    line-height: 13px;
    font-family: Arimo;
    letter-spacing: 0em;
    width: 1090px;
    margin: auto;
}

.lefttop {
    width: 126px;
    float: left;
}
.righttop {
    // width: 350px;
    float: left;
    // margin-left: 157px;
}

.body-elements {
    // width: 900px;
    height: 215px;
}
.header-elements {
    height: 180px;
}

.footer-elements-body{
    margin-left:129px;
}
.footer-head {
    margin-left:128px;
}
.footer-head {
    height: 32px;
}

.cell {
    height: 57px;
    width: $cellWidth;
    background-color: white;
    margin: 1px;
    padding: 3px 3px;
    font-family: 'Arimo' sans-serif;
}

.empty-cell {
    height: 65px;
    width: 56px;
    margin: 1px;
}

.column {
    float: left;
    cursor: pointer;
    margin-left: 2px;
}

.row {
    height: 71px;
}

.cell .id {
    font-size: 9px;
    font-weight: 400;
    line-height: 10px;
}
.cell .name {
    font-size: 8px;
    font-weight: 400;
    line-height: 9px;
    text-align: center;
    letter-spacing: 0.03em;
}

.cell .atomic_mass {
    font-size: 5px;
    text-align: center;
    font-weight: 400;
}

.cell .symbol-name {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    line-height: 25px;
}

.dummy-cell {
    width: $cellWidth;
    height: 42px;
    border-left:1px solid #000;
    border-right:1px solid #000;
}
.address-cell {
    width: $cellWidth;
    height: 64px;
    // border-top:1px solid #000;
    border-left:1px solid #000;
    border-right:1px solid #000;
}

.id-row-element {
    margin-left:15px;
    height: 18px;
    text-align: center;
    color: #0d0d8c;
}
.id-column-element {
    float:left;
    color: #0d0d8c;
}
.column-cell {
    width: 15px;
    height: 54px;
}
.row-cell {
    width: 52px;
    height: 10px;
    margin: 1px;
    background-color: red;
}

